/bitcoin/.vs
/bitcoin/Debug/bitcoin.tlog
/bitcoin/Debug/bitcoin.Build.CppClean.log
/bitcoin/Debug/bitcoin.exe
/bitcoin/Debug/bitcoin.ilk
/bitcoin/Debug/bitcoin.log
/bitcoin/Debug/bitcoin.pdb
/bitcoin/Debug/db.log
/bitcoin/Debug/db.obj
/bitcoin/Debug/debug.log
/bitcoin/Debug/irc.obj
/bitcoin/Debug/libdb48d.dll
/bitcoin/Debug/libeay32.dll
/bitcoin/Debug/main.obj
/bitcoin/Debug/market.obj
/bitcoin/Debug/net.obj
/bitcoin/Debug/script.obj
/bitcoin/Debug/sha.obj
/bitcoin/Debug/ui.obj
/bitcoin/Debug/ui.res
/bitcoin/Debug/uibase.obj
/bitcoin/Debug/util.obj
/bitcoin/Debug/vc140.idb
/bitcoin/Debug/vc140.pdb
/bitcoin/*.sdf
